@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    width: 100%;
    height: 58px;
    padding: 0 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link-title {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    transition: .2s;
}

.title:hover .link-title {
    color: #236D47;
}

.nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

path {
    transition: .2s ;
}

.link-calendar:hover path, .link-mail:hover path,.link-compass:hover path {
    fill: #236D47;
}
/* 
.link-mail:hover path {
    fill: #236D47;
}

.link-compass:hover path{
    fill: #236D47;
} */

.login {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.log-in, .sing-up {
    transition: .2s;
}

.log-in:hover, .sing-up:hover {
    color: #236D47;
}

.main {
    width: 100%;
    height: calc(100% - 58px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    position: relative;
    width: 444px;
    height: 584px;
    padding: 29px 60px 38px;
    background-color: #fff;
}

.square {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 29px;
    left: 0;
    background-color: #3CB878;
}

.auth-form-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 18px 48px;
    row-gap: 13px;
    align-items: center;
}

.auth-form-title {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.link-log-in {
    justify-self: end;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition: .2s;
}

.link-log-in:hover {
    text-decoration: underline;
    color: #01813F;
}

.link-facebook, .link-google {
    display: grid;
    grid-template-columns: 48px 1px 1fr;
    justify-items: center;
    align-items: center;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    transition: .2s;
}

.link-facebook {
    background-color: #305DB8;
}

.link-facebook:hover {
    background-color: #022263;
}

.link-google {
    justify-self: end;
    background-color: #DF4A32;
}

.link-google:hover {
    background-color: #AB1F09;
}

.or-line {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.input-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    width: 284px;
    padding: 13px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.input:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

.input::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.label {
    margin: 12px 0 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.label {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.checkbox-hidden {
    display: none;
}

.checkbox {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

.checkbox-hidden:checked ~ .checkbox {
    background-image: url(../img/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
}

.checkbox-hidden:checked ~ .checkbox:hover {
    background-image: url(../img/check_hover.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
}

.span {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.link-terms {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition: .2s;
}

.link-terms:hover {
    color: #01813F;
    text-decoration: underline;
}

.action-button {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    transition: .2s;
}

.action-button:hover {
    background-color: #01813F;
}