@import url(./reset.css);

body {
    width: 100%;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    width: 1030px;
    margin: 0 auto;
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 5px 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(max-content, auto));
    grid-template-rows: repeat(2, minmax(min-content, auto));
    grid-template-areas:
        "logo-img milan"
        "logo-img holidays";
}

.logo-img {
    grid-area: logo-img;
}

.logo-svg {
    transition: .1s;
}

.milan {
    padding-bottom: 4px;
    padding-left: 8px;
    display: block;
    grid-area: milan;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 20px;
    color: #FFFFFF;
    transition: .1s;
}

.holidays {
    padding-top: 8px;
    padding-left: 8px;
    display: block;
    grid-area: holidays;
    align-self: end;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    font-size: 18px;
    color: #FFFFFF;
    transition: .1s;
}

.logo:hover .milan, .logo:hover .holidays {
    color: #F26522;
}

.logo:hover .logo-svg {
    filter:brightness(0) saturate(100%) invert(68%) sepia(93%) saturate(4549%) hue-rotate(346deg) brightness(96%) contrast(98%);
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.email , .number {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.1s;
}

.email:hover, .number:hover {
    color: #F26522;
}

.main {
    width: 1030px;
    margin: 0 auto;
    padding-top: 17px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, auto);
    grid-gap: 17px 65px;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
}

.img-block {
    width: 300px;
    height: 220px;
    position: relative;
    overflow: hidden;
}

.img-link {
    width: 300px;
    height: 220px;
    border-right: 2px solid;
    border-left: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(#FFF, #000);
}

.hover {
    position: absolute;
    left: 2px;
    bottom: -55px;
    width: 296px;
    height: 55px;
    padding: 7px 14px 12px 16px;
    background-color: #F26522;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;
}

.card-wrapper:hover .hover, .card-wrapper:hover .description{
    bottom: 0;
    color: #F26522 ;
}

.hover-block {
    display: flex;
    justify-content: space-between;
}

.row-img {
    width: 5px;
    height: 10px;
    margin-left: 16px;
}

.description {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.2s;
}

.footer {
    width: 1030px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 15px;
    text-align: center;
}

.footer-text { 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}






