@import url(./reset.css);

.wrapper {
    width: 1460px;
    margin: 0 auto;
}

.first-section {
    width: 100%;
    background-color: #0E0E0E;
    background-image: url(../img/header-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed
}



.header {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 216px;
    height: 33px;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}

.number {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #D6AF76;
    transition: .2s;
}

.number:hover {
    transform: scale(.95);
}

.call-button {
    padding: 10px 25px;
    border: 1px solid #E4B564;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    transition: .2s;
}   

.call-button:hover {
    transform: scale(.95);
}

.handset-img {
    width: 13px;
    height: 13px;
}

.first-section h2 {
    padding-top: 128px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF
}

.text {
    padding: 41px 0;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.first-card-wrapper {
    padding-bottom: 33px;
    display: grid;
    grid-template-columns: 467px 29.5px 214px 30px 214px 29.5px 467px;
    grid-template-rows: 468px 27px 468px;
}

.first-card {
    padding: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    transition: .2s;
}

.first-card:hover {
    transform: scale(0.97);
}

.first-card1 {
    background-color: #634F2C;
    grid-column: 1 / 2;    
}

.first-card2 {
    background-color: #B4A385;
    grid-column: 3 / 6;
}

.first-card3 {
    background-color: #E4B564;
    grid-column: 7 / 8;
}

.first-card4 {
    background-color: #635A4A;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.first-card5 {
    background-color: #B08C4D;
    grid-column: 5 / 8;
    grid-row: 3 / 4;
}

.second-section {
    width: 100%;
    background-color: #171717;
}

.second-section h2 {
    padding-top: 120px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF 
}

.second-card-wrapper {
    padding: 94px 0 204px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 255px 26px 32px 24px 102px 33px 122px 26px 277px;
    grid-column-gap: 30px;
}

.second-card {
    padding: 44px 50px;
    font-family: 'Gilam';
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    transition: .2s;
}

.second-card:hover {
    transform: scale(0.97);
}

.second-card1 {
    background-color: #0E0E0E;
    grid-row: 1 / 4;
    font-weight: 400;
}
 
.second-card2 {
    background-color: #242424;
    grid-column: 2 / 3;
    grid-row: 1 / 6;
    font-weight: 400;
}
 
.second-card3 {
    background-color: #1F1F1F;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    font-weight: 500;
}
 
.second-card4 {
    background-color: #1F1F1F;
    grid-column: 1 / 2;
    grid-row: 5 / 10;
    font-weight: 500;
}
 
.second-card5 {
    max-height: 405px;
    background-color: #E4B564;
    grid-column: 2 / 3;
    grid-row: 7 / 10;
    font-weight: 500;
    color: #000000;
}
 
.second-card6 {
    background-color: #0E0E0E;
    grid-column: 3 / 4;
    grid-row: 3 / 8;
    font-weight: 500;
}
 
.second-card7 { 
    background-color: #0A0909;
    grid-column: 3 / 4;
    grid-row: 9 / 10;
    font-weight: 700;
}

.third-section {
    width: 100%;
    background-color: #202020;
    background-image: url(../img/parallax-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed
}

.third-section-wrapper {
    padding-top: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third-section-wrapper h2 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.projects-button {
    padding: 10px 40px;
    border: 1px solid #E4B564;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    transition: .2s;
}

.projects-button:hover {
    transform: scale(.95);
}

.third-card-wrapper {
    height: 1080px;
    padding: 72px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.third-card {
    padding: 80px 61px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.2s;
}

.third-card:hover {
    transform: scale(0.97);
}
 
.third-card1, .third-card6 {
    background-color: #634F2C;
}
 
.third-card2 {
    background-color: rgba(232, 210, 171, 0.76);;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
 
.third-card3 {
    background-color: #E4B564;
}
 
.third-card4 {
    background-color: #635A4A;
}
 
.third-card5 {
    background-color: #B08C4D;
}
 
.img1 {
    width: 185px;
    height: 49px;
}

.img {
    width: 62px;
    height: 55px;
}
  
.img2 {
    width: 139px;
    height: 55px;
}

.img3 {
    width: 190px;
    height: 42px;
}

.img5 {
    width: 119px;
    height: 53px;
}
 


